ignore-empty-password
disable-caps-lock-text
image=$HOME/.config/swaylock/catppuccin-logo.png
scaling=center
color=1e1e2e
text-ver-color=1e1e2e
text-wrong-color=1e1e2e
text-clear-color=1e1e2e
inside-color=1e1e2e
inside-ver-color=74c7ec
inside-wrong-color=f38ba8
inside-clear-color=f9e2af
inside-caps-lock-color=cba6f7
ring-color=a6e3a1
ring-ver-color=74c7ec
ring-wrong-color=f38ba8
ring-clear-color=f9e2af
line-color=181825
line-clear-color=181825
line-ver-color=181825
key-hl-color=fab387
bs-hl-color=f38ba8
caps-lock-bs-hl-color=b4befe
caps-lock-key-hl-color=cba6f7
separator-color=181825
text-color=cdd6f4
