@define-color outline #fab387;
@define-color surface_container_low #1e1e2e;
@define-color primary_container #585b70;
@define-color primary #fab387;

window#osd {
  border-radius: 20px;
  border: 2px solid @outline;
  background: alpha(@surface_container_low, 0.8);
}

window#osd #container {
  margin: 0px;
  padding: 2px;
  background: transparent;
}

window#osd image {
  -gtk-icon-transform: scale(0.8);
}

window#osd image,
window#osd label {
  color: @primary;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.8;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: alpha(@primary_container, 1.0);
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @primary;
}
